--
-- PostgreSQL database dump
--

\restrict bjmSwRimPeaaDqRaIPIDyTTWJsX5vqd2DnAuJps4S8CfCW36SQMCG2hyZBjmIzk

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: limekb
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$
      BEGIN
        NEW.updated_at = CURRENT_TIMESTAMP;
        RETURN NEW;
      END;
      $$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO limekb;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: admin_users; Type: TABLE; Schema: public; Owner: limekb
--

CREATE TABLE public.admin_users (
    id character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    linked_user_id character varying(50)
);


ALTER TABLE public.admin_users OWNER TO limekb;

--
-- Name: article_history; Type: TABLE; Schema: public; Owner: limekb
--

CREATE TABLE public.article_history (
    id character varying(50) NOT NULL,
    article_id character varying(50) NOT NULL,
    category_id character varying(50) NOT NULL,
    user_id character varying(50),
    action character varying(50) NOT NULL,
    changes jsonb,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.article_history OWNER TO limekb;

--
-- Name: articles; Type: TABLE; Schema: public; Owner: limekb
--

CREATE TABLE public.articles (
    id character varying(255) NOT NULL,
    category_id character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    title character varying(500) NOT NULL,
    content text NOT NULL,
    excerpt text,
    "order" integer DEFAULT 0,
    views integer DEFAULT 0,
    helpful integer DEFAULT 0,
    not_helpful integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    status character varying(20) DEFAULT 'published'::character varying,
    publisher_id character varying(50),
    last_modified_by character varying(50)
);


ALTER TABLE public.articles OWNER TO limekb;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: limekb
--

CREATE TABLE public.categories (
    id character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    title character varying(500) NOT NULL,
    description text,
    icon character varying(500),
    icon_color character varying(7) DEFAULT '#FEF3C7'::character varying,
    "order" integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.categories OWNER TO limekb;

--
-- Name: faqs; Type: TABLE; Schema: public; Owner: limekb
--

CREATE TABLE public.faqs (
    id character varying(255) NOT NULL,
    title character varying(500) NOT NULL,
    content text NOT NULL,
    "order" integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.faqs OWNER TO limekb;

--
-- Name: invites; Type: TABLE; Schema: public; Owner: limekb
--

CREATE TABLE public.invites (
    id character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    role character varying(20) DEFAULT 'publisher'::character varying,
    expires_at timestamp without time zone NOT NULL,
    used_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by character varying(50),
    CONSTRAINT invites_role_check CHECK (((role)::text = ANY ((ARRAY['super_admin'::character varying, 'publisher'::character varying])::text[])))
);


ALTER TABLE public.invites OWNER TO limekb;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: limekb
--

CREATE TABLE public.sessions (
    token character varying(64) NOT NULL,
    username character varying(255) NOT NULL,
    expires_at timestamp without time zone NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.sessions OWNER TO limekb;

--
-- Name: users; Type: TABLE; Schema: public; Owner: limekb
--

CREATE TABLE public.users (
    id character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(20) DEFAULT 'publisher'::character varying,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    last_login_at timestamp without time zone,
    created_by character varying(50),
    CONSTRAINT users_role_check CHECK (((role)::text = ANY ((ARRAY['super_admin'::character varying, 'publisher'::character varying])::text[])))
);


ALTER TABLE public.users OWNER TO limekb;

--
-- Data for Name: admin_users; Type: TABLE DATA; Schema: public; Owner: limekb
--

COPY public.admin_users (id, username, password_hash, created_at, updated_at, linked_user_id) FROM stdin;
admin_1782107270316	admin	$2b$10$wtKMOxeEe16AHxJz2HgZpOLaT8P1LyMACVrTodWotgNE4ZS.CV3Yy	2026-06-22 05:47:50.30146	2026-06-29 08:26:41.401884	admin_1782721595.362815
admin_1782114421068	soko	$2b$10$TfVfm9rzeDso6LGms.NN/O5QDA6bTF7lxo7NmnD4aavnQ4XdD0j92	2026-06-22 07:47:00.213073	2026-06-30 08:50:28.026514	user_soko
admin_naso	naso	$2b$10$RGJ6oR2vHjCHZhevpM31N.aTWpMEQaE.4qbNM/o.7kGX5cLC60OZO	2026-06-30 08:54:43.178207	2026-06-30 08:54:43.178207	user_naso_01
\.


--
-- Data for Name: article_history; Type: TABLE DATA; Schema: public; Owner: limekb
--

COPY public.article_history (id, article_id, category_id, user_id, action, changes, created_at) FROM stdin;
hist_1782805601510_be74c30ec360f435	art_1782805601486_28f3373eff06	cat_1782723786903_85b5d9111c30	user_soko	created	\N	2026-06-30 07:46:41.539934
hist_1782805615418_930b8096c35c92c4	art_1782805601486_28f3373eff06	cat_1782723786903_85b5d9111c30	user_soko	published	{"status": "published"}	2026-06-30 07:46:55.362778
\.


--
-- Data for Name: articles; Type: TABLE DATA; Schema: public; Owner: limekb
--



--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: limekb
--

COPY public.categories (id, slug, title, description, icon, icon_color, "order", created_at, updated_at) FROM stdin;
cat_1782723786903_85b5d9111c30	number	LIME ╨┤╤â╨│╨░╨░╤Ç	╨ÿ╨╜╤é╨╡╤Ç╨╜╨╡╤é╤é╤ì╨╣ ╨╗ ╨▒╨╛╨╗ ╨┤╤ì╨╗╤à╨╕╨╣╨╜ ╤à╨░╨░╨╜╨░╨░╤ü ╤ç ╨░╤ê╨╕╨│╨╗╨░╤à ╨▒╨╛╨╗╨╛╨╝╨╢╤é╨╛╨╣, SIM ╨║╨░╤Ç╤é ╤ê╨░╨░╤Ç╨┤╨╗╨░╨│╨░╨│╥»╨╣ 72-╤Ç ╤ì╤à╨╗╤ì╨╗╤é╤ì╨╣ ╨£╨╛╨╜╨│╨╛╨╗ ╤â╤é╨░╤ü╨╜╤ï ╨┤╤â╨│╨░╨░╤Ç.	TelephoneIcon	#E0E7FF	0	2026-06-29 09:03:07.097408	2026-06-29 09:03:07.097408
\.


--
-- Data for Name: faqs; Type: TABLE DATA; Schema: public; Owner: limekb
--

COPY public.faqs (id, title, content, "order", created_at) FROM stdin;
\.


--
-- Data for Name: invites; Type: TABLE DATA; Schema: public; Owner: limekb
--

COPY public.invites (id, email, token, role, expires_at, used_at, created_at, created_by) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: limekb
--

COPY public.sessions (token, username, expires_at, created_at) FROM stdin;
490c1d667a4a39142f5e79b4e78358f9b1821f9b3bfd3737923442b3ac8703fe	naso	2026-07-01 09:00:27.381103	2026-06-30 09:00:27.381103
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: limekb
--



--
-- Name: admin_users admin_users_pkey; Type: CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_pkey PRIMARY KEY (id);


--
-- Name: admin_users admin_users_username_key; Type: CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_username_key UNIQUE (username);


--
-- Name: article_history article_history_pkey; Type: CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.article_history
    ADD CONSTRAINT article_history_pkey PRIMARY KEY (id);


--
-- Name: articles articles_category_id_slug_key; Type: CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.articles
    ADD CONSTRAINT articles_category_id_slug_key UNIQUE (category_id, slug);


--
-- Name: articles articles_pkey; Type: CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.articles
    ADD CONSTRAINT articles_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: categories categories_slug_key; Type: CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_slug_key UNIQUE (slug);


--
-- Name: faqs faqs_pkey; Type: CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.faqs
    ADD CONSTRAINT faqs_pkey PRIMARY KEY (id);


--
-- Name: invites invites_pkey; Type: CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.invites
    ADD CONSTRAINT invites_pkey PRIMARY KEY (id);


--
-- Name: invites invites_token_key; Type: CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.invites
    ADD CONSTRAINT invites_token_key UNIQUE (token);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (token);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_admin_users_linked_user_id; Type: INDEX; Schema: public; Owner: limekb
--

CREATE INDEX idx_admin_users_linked_user_id ON public.admin_users USING btree (linked_user_id);


--
-- Name: idx_article_history_article_id; Type: INDEX; Schema: public; Owner: limekb
--

CREATE INDEX idx_article_history_article_id ON public.article_history USING btree (article_id);


--
-- Name: idx_article_history_user_id; Type: INDEX; Schema: public; Owner: limekb
--

CREATE INDEX idx_article_history_user_id ON public.article_history USING btree (user_id);


--
-- Name: idx_articles_category_id; Type: INDEX; Schema: public; Owner: limekb
--

CREATE INDEX idx_articles_category_id ON public.articles USING btree (category_id);


--
-- Name: idx_articles_last_modified_by; Type: INDEX; Schema: public; Owner: limekb
--

CREATE INDEX idx_articles_last_modified_by ON public.articles USING btree (last_modified_by);


--
-- Name: idx_articles_publisher_id; Type: INDEX; Schema: public; Owner: limekb
--

CREATE INDEX idx_articles_publisher_id ON public.articles USING btree (publisher_id);


--
-- Name: idx_articles_slug; Type: INDEX; Schema: public; Owner: limekb
--

CREATE INDEX idx_articles_slug ON public.articles USING btree (slug);


--
-- Name: idx_articles_views; Type: INDEX; Schema: public; Owner: limekb
--

CREATE INDEX idx_articles_views ON public.articles USING btree (views DESC);


--
-- Name: idx_categories_order; Type: INDEX; Schema: public; Owner: limekb
--

CREATE INDEX idx_categories_order ON public.categories USING btree ("order");


--
-- Name: idx_categories_slug; Type: INDEX; Schema: public; Owner: limekb
--

CREATE INDEX idx_categories_slug ON public.categories USING btree (slug);


--
-- Name: idx_invites_email; Type: INDEX; Schema: public; Owner: limekb
--

CREATE INDEX idx_invites_email ON public.invites USING btree (email);


--
-- Name: idx_invites_token; Type: INDEX; Schema: public; Owner: limekb
--

CREATE INDEX idx_invites_token ON public.invites USING btree (token);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: limekb
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: limekb
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: admin_users update_admin_users_updated_at; Type: TRIGGER; Schema: public; Owner: limekb
--

CREATE TRIGGER update_admin_users_updated_at BEFORE UPDATE ON public.admin_users FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: articles update_articles_updated_at; Type: TRIGGER; Schema: public; Owner: limekb
--

CREATE TRIGGER update_articles_updated_at BEFORE UPDATE ON public.articles FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: categories update_categories_updated_at; Type: TRIGGER; Schema: public; Owner: limekb
--

CREATE TRIGGER update_categories_updated_at BEFORE UPDATE ON public.categories FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: admin_users admin_users_linked_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.admin_users
    ADD CONSTRAINT admin_users_linked_user_id_fkey FOREIGN KEY (linked_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: article_history article_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.article_history
    ADD CONSTRAINT article_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: articles articles_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.articles
    ADD CONSTRAINT articles_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE CASCADE;


--
-- Name: articles articles_last_modified_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.articles
    ADD CONSTRAINT articles_last_modified_by_fkey FOREIGN KEY (last_modified_by) REFERENCES public.users(id);


--
-- Name: articles articles_publisher_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.articles
    ADD CONSTRAINT articles_publisher_id_fkey FOREIGN KEY (publisher_id) REFERENCES public.users(id);


--
-- Name: invites invites_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.invites
    ADD CONSTRAINT invites_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: users users_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: limekb
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- PostgreSQL database dump complete
--

\unrestrict bjmSwRimPeaaDqRaIPIDyTTWJsX5vqd2DnAuJps4S8CfCW36SQMCG2hyZBjmIzk

